@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-regular.ttf');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'Lobster-Regular';
  src: url('../fonts/Lobster-Regular.ttf');
}
body{
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'OpenSans';
  min-width: 300px;
  color: #4e525d;
  margin-top: 100px;
}
h1{
  font-size: 63pt;
  font-family: 'OpenSans-Semibold';
}
h2{
  font-size: 42pt;
  text-align: center;
}
h3{
  margin: 0;
  font-size: 26pt;
}
h4{
  margin: 0;
  font-size: 22pt;
}
p{
  font-size: 23pt;
}
span{
  font-size: 14pt;
}
nav{
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-fix{
  margin-top: -100px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 25;
}
.logo{
  float: left;
  font-family: 'Lobster-Regular';
  font-size: 43pt;
}
.logo a{
  padding: 14px;
  color:#44c0c2;
  text-decoration: none;
  vertical-align: middle;
}
.logo a:hover{
  color:#7bcacc;
}
.menu{
  float: right;
  font-size: 15pt;
}
.menu a{
  display: inline-block;
  color: #484c55;
  text-decoration: none;
  padding: 36px 14px;
}
.menu a:hover{
  background: #f8f9fb;
  padding-bottom: 33px;
  border-bottom:3px solid #49cbcd;
  color: #49cbcd;
}
.nav{
  margin: 0;
  padding: 0;
}
.nav li {
    list-style: none;
    float: left;
}
#slider{
  background-color: #49cbcd;
}
.swiper-container{
  background: url('../img/slider.png') no-repeat;
  background-position: top center;
  background-size: cover;
  display: block;
  width: 100%;
  min-height: calc(70vh - 100px);
}
.sltext{
  text-align: center;
  margin-top: 10vh;
  position: relative;
  vertical-align: middle;;
  margin-bottom: 5vh;
  color: #fff;
  min-height: calc(70vh - 100px);
}
.btn{
  padding: 13px;
  border-radius: 10px;
  font-size: 26pt;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 5px solid white;
}
.btn:hover{
  background: #fff;
  color: #49cbcd;
}
.swiper-button-prev, .swiper-button-next{
  background: #fff;
  border-radius: 50px;
  color: #44c0c2;
  font-size: 25pt;
  text-align: center;
}
#slider i{
  line-height: 62px;
}
.row{
  display: inline-block;
  width: 100%;
  margin: 20px auto;
  padding: 70px 0;
}
.row-width{
  max-width: 1200px;
  margin: 0 auto;
}
.block{
  display: block;
  float: left;
  text-align: center;
}
.x4{
  width: 21%;
  padding: 2%;
}
.avatar{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin: 50px 0;
}
.avatar i{
  display: none;
  position: absolute;
  color: #f46d6d;
  font-size: 85px;
  line-height: 0;
  top: 50%;
  left: 36%;
  right: 36%;
}
.avatar:hover i{
  display: block;
}
.avatar img{
  border-radius:200px;
}
.avatar img:hover ~ .avatar i {color:green;}
.x4 p{
  font-size: 11pt;
  line-height: 25px;
}
.price{
  background: #f1f1f1;
  width: 100%;
  display: inline-block;
}
.x3{
  width: 31%;
  padding: 1%;
}
.bl-header{
  line-height: 75px;
  background: #485460;
  color: #fff;
}
.price table{
  width: 100%;
  background: #fff;
}
.price th{
  line-height: 70px;
  background: #f8f9fb;
}
.price td{
  line-height: 45px;
  border-bottom: 1px solid #ecf0f1;
}
.bl-footer{
  background: #f8f9fb;
  padding: 20px 0;
}
.btn-buy{
  background: #788492;
  line-height: 60px;
  padding: 4px 38px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-family: 'OpenSans-Semibold';
  font-size: 17pt;
}
.btn-buy:hover{
  background: #49cbcd;
}
footer{
  background-color: #000;
  display: inline-block;
  width: 100%;
}
.footer{
  background: url('../img/footer.png') no-repeat;
  background-position: bottom center;
  background-size: cover;
  display:inline-block;
  width: 100%;
  padding: 10px 0;
}
footer h2{
  color: #fff;
}
.x2{
  width: 44%;
  padding: 3%;
  text-align: left;
  color: #fff;
  margin: 20px 0;
}
.soc {
  margin: 25px 0;
}
.soc i{
  line-height: 50px;
  width: 50px;
  font-size: 23pt;
  margin-right: 15px;
  border-radius: 25px;
  text-align: center;
}
.fa-facebook{
  background: #3b5997;
}
.fa-twitter{
  background: #3ec2f3;
}
.fa-google-plus{
  background: #e44c41;
}
.fa-facebook:hover,.fa-google-plus:hover,.fa-twitter:hover{
  opacity: 0.6;
}
.inp input{
  padding: 6%;
  width: 92%;
  border-radius: 5px;
}
.inp{
  position: relative;
  float: left;
  width: 45%;
  margin: 2%;
}
.message{
  position: relative;
  float: left;
  width: 90%;
  height: 200px;
  padding: 3%;
  margin: 2%;
  border-radius: 5px;
}
.btn-send{
  display: block;
  line-height: 50px;
  font-size: 22pt;
  background: #49cbcd;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0 51px;
  float: right;
  margin: 2%;
}
@media screen and (max-width: 500px){
  .nav{
    display: none;
    width: 100%;
  }
  .nav li {
    width: 100%;
  }
  .menu-icon{
    margin: 15px;
    padding: 7px;
    font-size: 30pt;
    float: right;
  }
  .menu{
    width: 100%;
    background: #44c0c2;
  }
  .menu a{
    padding: 15px 10%;
    width: 80%;
  }
  .sltext{
    margin:0 auto;
  }
  .sltext h1{
    font-size: 50pt;
    line-height: 1.1;
    margin: 0;
  }
  .swiper-button-prev, .swiper-button-next{
    display: none;
  }
  .block{
    width: 98%;
    padding: 1%;
  }

}
@media screen and (min-width: 501px) and (max-width: 769px){
  .nav{
    display: none;
    width: 100%;
  }
  .nav li {
    width: 100%;
  }
  .menu-icon{
    margin: 15px;
    padding: 7px;
    font-size: 30pt;
    float: right;
  }
  .menu{
    width: 100%;
    background: #44c0c2;
  }
  .menu a{
    padding: 15px 10%;
    width: 80%;
  }
  .sltext{
    margin:0 auto;
  }
  .x4{
    width: 48%;
    padding: 1%;
  }
  .x3, .x2{
    width: 94%;
    padding: 3%;
  }
}
@media screen and (min-width: 770px){
  .menu-icon{
    display: none;
  }
}
