@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-regular.ttf');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'Lobster-Regular';
  src: url('../fonts/Lobster-Regular.ttf');
}
body{
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'OpenSans';
  min-width: 300px;
  color: #4e525d;
  margin-top: 100px;
}
h1{
  font-size: 63pt;
  font-family: 'OpenSans-Semibold';
}
h2{
  font-size: 42pt;
  text-align: center;
}
h3{
  margin: 0;
  font-size: 26pt;
}
h4{
  margin: 0;
  font-size: 22pt;
}
p{
  font-size: 23pt;
}
span{
  font-size: 14pt;
}
nav{
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-fix{
  margin-top: -100px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 25;
}
.logo{
  float: left;
  font-family: 'Lobster-Regular';
  font-size: 43pt;
}
.logo a{
  padding: 14px;
  color:#44c0c2;
  text-decoration: none;
  vertical-align: middle;
}
.logo a:hover{
  color:#7bcacc;
}
.menu{
  float: right;
  font-size: 15pt;
}
.menu a{
  display: inline-block;
  color: #484c55;
  text-decoration: none;
  padding: 36px 14px;
}
.menu a:hover{
  background: #f8f9fb;
  padding-bottom: 33px;
  border-bottom:3px solid #49cbcd;
  color: #49cbcd;
}
.nav{
  margin: 0;
  padding: 0;
}
.nav li {
    list-style: none;
    float: left;
}
#slider{
  background-color: #49cbcd;
}
.swiper-container{
  background: url('../img/slider.png') no-repeat;
  background-position: top center;
  background-size: cover;
  display: block;
  width: 100%;
  min-height: calc(70vh - 100px);
}
.sltext{
  text-align: center;
  margin-top: 10vh;
  position: relative;
  vertical-align: middle;;
  margin-bottom: 5vh;
  color: #fff;
  min-height: calc(70vh - 100px);
}
.btn{
  padding: 13px;
  border-radius: 10px;
  font-size: 26pt;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 5px solid white;
}
.btn:hover{
  background: #fff;
  color: #49cbcd;
}
.swiper-button-prev, .swiper-button-next{
  background: #fff;
  border-radius: 50px;
  color: #44c0c2;
  font-size: 25pt;
  text-align: center;
}
#slider i{
  line-height: 62px;
}
@media screen and (max-width: 500px){
  .nav{
    display: none;
    width: 100%;
  }
  .nav li {
    width: 100%;
  }
  .menu-icon{
    margin: 15px;
    padding: 7px;
    font-size: 30pt;
    float: right;
  }
  .menu{
    width: 100%;
    background: #44c0c2;
  }
  .menu a{
    padding: 15px 10%;
    width: 80%;
  }
  .sltext{
    margin:0 auto;
  }
  .swiper-button-prev, .swiper-button-next{
    display: none;
  }

}
@media screen and (min-width: 501px) and (max-width: 769px){
  .nav{
    display: none;
    width: 100%;
  }
  .nav li {
    width: 100%;
  }
  .menu-icon{
    margin: 15px;
    padding: 7px;
    font-size: 30pt;
    float: right;
  }
  .menu{
    width: 100%;
    background: #44c0c2;
  }
  .menu a{
    padding: 15px 10%;
    width: 80%;
  }
  .sltext{
    margin:0 auto;
  }
}
@media screen and (min-width: 770px){
  .menu-icon{
    display: none;
  }
}
